<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" />
    </Found>
    <NotFound>
        <MainLayout>
            <p>Sorry, there's nothing at this address.</p>
        </MainLayout>
    </NotFound>
</Router>
