@inherits ComponentBase
@using SpeedtestRunner.Data.Models

<Navbar OnTestRun="OnTestRun" />

<div class="container-fluid">
    @ChildContent
</div>

@functions {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public EventCallback<Speedtest> OnTestRun { get; set; }

}
