@inherits ComponentBase
@inject SpeedtestRunner.Services.SpeedtestRunnerService SpeedtestRunner

<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand flex-grow-1" href="/">Speed Test Runner</a>
    @if (SpeedtestRunner.IsRunning)
    {
        <div class="d-flex justify-content-center ml-1 mr-1">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    }
    else
    {
        <button class="btn btn-primary ml-1 mr-1" @onclick="@SpeedtestRunner.RunSpeedtest">Run Now</button>
    }
</nav>

@functions {

    protected override void OnInitialized()
    {
        SpeedtestRunner.RunStarted += InvokeStateHasChanged;
        SpeedtestRunner.RunCompleted += _ => InvokeStateHasChanged();
    }

    private void InvokeStateHasChanged() => InvokeAsync(StateHasChanged);

}
